<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
	</configSections>
	<log4net>
		<appender name="MemoryAppender" type="log4net.Appender.MemoryAppender"/>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
			</layout>
		</appender>
		<appender name="CustomAppender" type="Logging.NoopAppender">
			<token value="MyToken"/>
		</appender>
		<logger name="DebugLogger">
			<level value="DEBUG" />
		</logger>
		<logger name="InfoLogger">
			<level value="INFO" />
		</logger>
		<logger name="WarnLogger">
			<level value="WARN" />
		</logger>
		<logger name="ErrorLogger">
			<level value="ERROR" />
		</logger>
		<logger name="FatalLogger">
			<level value="FATAL" />
		</logger>
		<logger name="X">
			<level value="WARN"/>
		</logger>
		<logger name="X.Y">
		</logger>
		<logger name="X.Y.Z">
			<level value="ERROR"/>
		</logger>
		<logger name="X.Y.W">
			<level value="INFO"/>
		</logger>
		<root>
			<appender-ref ref="MemoryAppender"/>
			<appender-ref ref="ConsoleAppender"/>
			<appender-ref ref="CustomAppender"/>
		</root>
	</log4net>
</configuration>